@media only screen and (max-width: 1280px) {

    .navitem {
        font-size: small;
    }

    .nav_label1 {
        font-size: small;
    }

    #mostrarlogin {
        font-size: small;
    }

    .brandfooter {
        font-size: 2.5em;
    }

    .ftr-category {
        font-size: 1.3em;
    }

    .ftr-list {
        font-size: 1.1em;
    }

    /*EMPIEZA ABOUT*/
    .tituloaboutus {
        font-size: 3em;
    }

    .seccion {
        margin: 50px 15px 15px 15px;
    }

    .seccion2 {
        margin: 50px 15px 15px 15px;
    }

    .seccion h2 {
        font-size: 1.7em;
        line-height: 30px;
    }

    .seccion p {

        font-size: 1em;
    }

    .seccion2 h2 {
        font-size: 1.7em;
        line-height: 30px;
    }

    .seccion2 p {

        font-size: 1em;
    }

    /*TERMINA ABOUT*/
    /*registro*/
    .registro-container .registro-datos {
        height: fit-content;
      }
   
}

@media only screen and (max-width: 700px) {

    /*MAIN*/
    .main-layout {
        gap: 5px;
        align-items: center;
        margin-left: 0px;
        margin-right: 0px;
    }

    .titulo1 {
        font-size: 1.4em;
    }

    .banner {
        width: 90%;
        height: fit-content;
    }

    .imgcarrusel {
        width: fit-content;
        object-fit: cover;
    }

    .conteCarrousel {
        overflow-x: scroll;
    }

    /*  ACÁ EMPIEZA FULL NAV  */

    .navitem {
        display: none;
    }

    .divnav {
        /*  CONTENEDOR  */
        flex-grow: 0;
        gap: 20px
    }

    #mostrarlogin {
        display: none;
    }

    #userdiv {
        order: 3;
        padding-right: 10px;
    }

    #sbdiv {
        order: 2;
        flex-grow: 1;
    }

    /*  TERMINA FULL NAV  */

    /*  ACÁ EMPIEZA MINI NAV  */

    .menuHamburguesa {
        display: flex;
        width: 40px;
        padding: 3px;
        border-radius: 50%;

    }


    #menu {
        display: none;
    }


    .nav_item {
        grid-column: 2;
        color: snow;
        text-decoration: none;
        width: 100%;
        padding-left: 40px;
        line-height: 80px;
        height: 80px;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .nav_item:hover {
        background-color: Maroon;

    }

    .nav_label {
        display: block;
        cursor: pointer;

    }

    .nav_menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        background-color: #902020;
        align-items: center;
        position: fixed;
        top: 60px;
        bottom: 0;
        width: 100%;
        justify-content: center;
        align-items: left;
        clip-path: circle(0 at center);
        font-size: 1.2em;
        overflow-y: scroll;
    }

    .nav_input:checked+.nav_menu {
        clip-path: circle(100% at center);
    }

    .nav_menu1 {
        display: none;
    }

    .nav_label1 {
        display: none;
    }

    /*COMIENZA CATalogo DENTRO DEL NAV*/
    .nav_label2 {
        display: flex;
        width: 100%;
        cursor: pointer;
        grid-row-start: 2;
        align-items: left;
        color: white;
        line-height: 80px;
        height: 80px;
        padding-left: 40px;
    }

    .nav_label2:hover {

        background-color: Maroon;
    }

    #menu2 {
        display: none;
    }

    .nav_menu2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        z-index: -1;
        width: 100%;
        gap: 1em;
        position: fixed;
        padding-top: 10px;
        padding-bottom: 10px;
        top: 60px;
        bottom: 0;
        line-height: 1em;
        align-items: right;
        clip-path: circle(0 at center);
        font-size: 1.2em;
        overflow-y: auto;
    }

    .nav_menu2 ul {
        grid-column-start: 2;

    }

    .nav-list:hover {
        background-color: rgb(117, 8, 0);
        display: block;
        padding: 4px;
        padding-left: 15px;
    }

    .nav_input2:checked+.nav_menu2 {
        clip-path: circle(100% at center);
    }

    .nav-category {
        color: white;
        font-size: .8em;
        margin-bottom: 8px;
        padding-left: 10px;
    }

    .nav-list {
        color: white;
        font-size: .6em;
        font-weight: lighter;
        padding-left: 15px;
    }


    /*TERMINA CATalogo DENTRO DEL NAV*/

    /* ACÁ TERMINA EL MINI NAV*/

    /* POPUP*/
    .popup {
        width: 340px;
        ;

    }

    /*termina POPUP*/

    /*FOOTER*/


    .brandfooter {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        width: 100%;
        font-size: 1.6em;

    }

    .logofooter {
        width: 55px;
    }

    .brandfooter img {
        display: flex;
        background-color: snow;
        padding: 2px 6px;
        width: 55px;

    }

    #footerlist {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        text-align: center;

    }

    .ftr-list {
        color: white;
        font-size: 1.1em;
        line-height: 1.2em;
    }


    .ftr-category {
        color: white;
        font-size: 1.3em;
        margin-bottom: 8px;
    }

    /*termina FOOTER*/
    /*comienza About*/


    .tituloaboutus {
        font-size: 2.7em;

    }

    .seccion h2 {
        color: rgb(133, 21, 13);
        font-size: 1.7em;


    }

    .seccion2 h2 {
        color: rgb(133, 21, 13);
        font-size: 1.7em;
    }


    .seccion {
        display: flex;
        flex-direction: column;
        border-width: 2px;
        margin: 40px 20px 60px 20px;
        background-color: rgba(133, 21, 13, 0.066);

    }

    .seccion2 {
        display: flex;
        flex-direction: column;
        border-width: 2px;
        margin: 40px 30px 60px 30px;
        background-color: rgba(133, 21, 13, 0.066);

    }

    .texto {
        display: flex;
        flex-direction: column;
        align-items: left;
        margin-left: ;
        margin-top: 20px;
        margin-left: 0%;
        margin-bottom: 20px;
        line-height: 1.5em;
    }

    .texto2 {
        display: flex;
        flex-direction: column;
        align-items: left;
        margin-left: ;
        margin-top: 20px;
        margin-left: 0%;
        margin-bottom: 20px;
        line-height: 1.5em;
    }

    .foto {
        width: 100%;
        height: 300px;
    }

    /*termina About*/
    /*contacto*/
    .texto-titulo h2 {
       
        font-size: 1.2em;
        font-weight: lighter;
      }
      .registro-container .registro-datos {
        width: fit-content;
        margin-right: 30px;
        height: fit-content;
      }
}