body {
  background-color: rgb(223, 210, 210);
}

.banner {
  height: 100px;
  align-items: center;
}



.nav {
  display: grid;
  grid-template-columns: auto auto auto auto auto 400px;
  margin: 0px;
  background-color: rgb(133, 21, 13);
  border-bottom: solid;
  border-color: rgb(196, 196, 196);
  border-width: 1px;

}

.navfootgrid {
  background-color: rgb(117, 8, 0);
  display: grid;
  grid-template: auto/ auto auto auto auto auto;
  grid-template-areas:
    'nfi1'
    'nfi2'
    'nfi3'
    'nfi4'
    'nfi5';
  

}

.navfootitem1 {
  background-color: rgb(133, 21, 13);
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  font-size: medium;
  padding: 5px;
  grid-area: nfi1;

}

.navfootitem2 {
  background-color: rgb(133, 21, 13);
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  font-size: medium;
  padding: 5px;
  grid-area: nfi2;

}

.navfootitem3 {
  background-color: rgb(133, 21, 13);
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  font-size: medium;
  padding: 5px;
  grid-area: nfi3;

}

.navfootitem4 {
  background-color: rgb(133, 21, 13);
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  font-size: medium;
  padding: 5px;
  grid-area: nfi4;

}

.navfootitem5 {
  background-color: rgb(133, 21, 13);
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  font-size: medium;
  padding: 5px;
  grid-area: nfi5;

}

.h3foot {
  color: rgb(255, 255, 255);
  padding: 2px;
  margin: 1px;

}

.navitem:hover {

  text-align: center;
  color: white;
  background-color: rgb(145, 24, 15);
  padding: 25;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;


}


.navitem {
  text-align: center;
  color: white;
  background-color: rgb(117, 8, 0);
  width: auto;
  height: auto;
  padding: 15px;
  margine 15px;
  text-transform: uppercase;
  text-decoration: none;
}


.navitem1 {

  grid-area: menu;



}

.navitem2 {

  grid-area: main;
  justify-content: left;
  margin-top: 2px;

}

.main-layout {
  display: grid;
  grid-template: auto auto auto auto/auto auto auto auto;

  gap: 10px;
  justify-content: space-evenly;

}

.box {
  width: 200px;
  height: 320px;
  margin-top: 30px;
  background-color: rgb(255, 248, 248);
  padding: 10px;
  border-radius: 2%;
  box-shadow: 4px 4px 10px 2px rgba(128, 128, 128, 0.411);

}

.portada {
  max-width: 140px;
  max-height: 200px;
  width: 180;
  margin-top: 20px;
  margin-left: 35px;
  overflow: hidden;
  border: solid;

}

h1 {
  color: rgb(133, 21, 13);
  text-align: center;
  text-decoration: underline;
}

.mininav {
  text-decoration: none;
  text-decoration: none;
  margin: 60px;
  padding
}

.footergrid {
  background-color: rgb(117, 8, 0);
  display: grid;
  grid-template-columns: 40% 30% 30%;
  grid-template-areas: 'sec1 sec2 sec3';
  justify-content: space-around;
  gap: 10px;
  padding: 50px;

}

.coments {
  grid-area: sec1;

}

.navsec {
  grid-area: sec2;



}

.info {

  grid-area: sec3;


}