* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: rgb(223, 210, 210);
}

/* NAV ANTIGÜO */
/* .nav {
display: grid;
grid-template-columns: auto auto auto auto auto 400px;
margin: 0px;
background-color: rgb(133, 21, 13);
border-bottom: solid;
border-color: rgb(196, 196, 196);
border-width: 0px;
position: fixed;
width: 100%;
z-index: 15;
box-shadow: 0px 0px 7px rgb(20, 20, 20);
} */


/*
ACÁ EMPIEZA EL NAV
*/

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  background-color: rgb(117, 8, 0);
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 2;
  box-shadow: 0px 0px 7px rgb(20, 20, 20)
}

.navitem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  color: white;
  height: 100%;
}

.navitem:hover {
  background-color: #902020;
}

.divnav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.login {
  margin: 0 20px;
}

#login {
  font-size: 1em;
  background-color: inherit;
  border: none;
  color: white;
  width: 100px;
  height: 50px;
}

#login:hover{
  background-color: #902020;
  cursor: pointer;
}

.userpic {
  background-color: snow;
  padding: 3px;
  border-radius: 50%;
}

.searchbar {
  display: flex;
  flex-direction: row-reverse;
  border: 1px solid rgba(194, 32, 32, 0.6);
  padding: 5px;
  border-radius: 7px;
}

#searchbar {
  background-color: rgb(117, 8, 0);
  color: white;
  border: none;
  outline: 0;
  text-indent: 5px;
  border-left: 1px solid rgba(255, 255, 255, .3);
}

::placeholder {
  color: snow;
  opacity: 0.4;
}

#submitsearchbar {
  background-color: rgb(117, 8, 0);
  border: none;
  padding: 0 10px;
}

#submitsearchbar:hover {
  cursor: pointer;
}

/*
    ACÁ TERMINA EL NAV

    ACÁ EMPIEZA EL MAIN
*/

.banner {
  height: 50px;
  align-items: center;
  margin: 20px; 0;
  position: relative;
  top: 50px;
}

.main-layout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.main-layout {
  display: grid;
  grid-template: auto auto auto auto/auto auto auto auto;

  gap: 10px;
  justify-content: space-evenly;

}

.box {
  width: 200px;
  height: 320px;
  margin-top: 30px;
  background-color: rgb(255, 248, 248);
  padding: 10px;
  border-radius: 2%;
  box-shadow: 4px 4px 10px 2px rgba(128, 128, 128, 0.411);

}

.portada {
  max-width: 140px;
  max-height: 200px;
  width: 180;
  margin-top: 20px;
  margin-left: 35px;
  overflow: hidden;
  border: solid;

}

/*
      ACÁ TERMINA EL MAIN

      ACÁ INICIA EL FOOTER
 */

footer {
  background-color: rgb(117, 8, 0);
  margin-top: 40px;
}

.brandfooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  color: white;
  text-indent: 20px;
  font-size: 3em;
  border-top: 1px solid rgb(194, 32, 32);
}

.brandfooter img {
  background-color: snow;
  padding: 2px 6px;
  border-radius: 50%;
}

#footerlist {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px 0;
  border-top: 2px solid rgb(194, 32, 32);
  border-bottom: 2px solid rgb(194, 32, 32);
}

.ftr-list {
  color: white;
  font-size: 1.2em;
}

.ftr-category {
  color: white;
  font-size: 1.4em;
  margin-bottom: 8px;
}

#derechos {
  display: flex;
  justify-content: center;
  color: white;
  padding: 10px 0;
}

/*sobre nosotros*/

h1 {
  color: rgb(133, 21, 13);
  text-align: center;
}

.tituloaboutus {
  font-size: 4em;
  font-weight: lighter;
  text-align: center;
  background-color: rgba(133, 21, 13, 0.066);
  padding: 20px;
  box-shadow: 0px 0px 7px rgba(20, 20, 20, 0.205);
}

.seccion h2 {
  color: rgb(133, 21, 13);
  font-size: 2.7em;
  font-weight: lighter;
  text-indent: none;
}

.container1 {
  display: block;

}

.seccion {
  display: flex;
  border-width: 2px;
  margin: 80px;
  background-color: rgba(133, 21, 13, 0.066);

}


.texto {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.seccion p {
  width: 80%;
  font-size: larger;
  font-weight: lighter;
}

p span {
  color: rgb(133, 21, 13);
  font-weight: lighter;
}

.linearoja {
  height: 4px;
  width: 70px !important;
  margin-bottom: 10px;
}



.foto {
  display: block;
  width: 40%;
  object-fit: cover;
}

.seccion:hover {
  transform: scale(1.05, 1.05);
  background-color: rgba(133, 21, 13, 0.171);
  transition: 0.7s;
}
